.navigation-item {
    height: 34px;
    border-bottom: 1px solid #99bce8;
    cursor: pointer;
    background-color: #f8f8f8;
}

.navigation-icon {
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    display: inline-block;
    float: left;
    margin-top: 5px;
    margin-left: 10px;
}

.navigation-text {
    line-height: 24px;
    display: inline-block;
    float: left;
    padding-left: 10px;
    font-size: 16px;
    margin-top: 5px;
    transition-property: padding-left, letter-spacing;
    transition-duration: .3s;
}

.over-navigation-item:not(.selected-navigation-item) {
    background-color: #dedefe;
}

.over-navigation-item:not(.selected-navigation-item) .navigation-text {
    padding-left: 15px;
    letter-spacing: 4px;
    font-weight: bold;
}

.navigationview {
    border-top: 2px solid #99bce8;
}

.selected-navigation-item {
    background-color: powderblue;
    white-space: nowrap;
}

.selected-navigation-item .navigation-text {
    font-weight: bold;
}